@page "/customerList"
@inherits CustomerListBase


    <br />

    <h1 class="card-header text-center">List of Customers</h1>

    <br />

    <SearchItem OnSearchItem="HandleSearch" />

    <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>City</th>
                <th>Province</th>
                <th>Country</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>

            @if (Customers == null && Addresses == null)
            {
                Console.WriteLine("Load.....");
            }
            else if (Customers.Count == 0 && Addresses.Count == 0)
            {
                Console.WriteLine("No Customer information is available at the moment.");
            }
            else
            {
                Console.WriteLine("I'm here now. ");
                @foreach (var customer in Customers)
                {
                    FullName = $"{customer.FirstName} {customer.LastName}";

                    Address = customer.Addresses.FirstOrDefault(addr => addr.IsBillingAddress == true);

                    <tr>
                        <td>
                            <a type="button" style="text-decoration: none; color:dodgerblue" @onclick="@(() => DetailCustomer(customer.CustomerID))">
                                @FullName
                            </a>
                        </td>
                        <td>@customer.Phone</td>
                        <td>@customer.Email</td>
                        @if (Address != null)
                        {
                            <td>@Address.Street</td>
                            <td>@Address.City</td>
                            <td>@Address.State</td>
                            <td>@Address.Country</td>
                        }
                        <td><button type="button" @onclick="@(() => UpdateCustomer(customer.CustomerID))" class="btn btn-warning" style="font-weight: bold"><span class="oi oi-pencil"></span></button></td>
                        <td><button type="button" @onclick="@(() => DeleteCustomer(customer.CustomerID))" class="btn btn-danger" style="font-weight: bold"><span class="oi oi-delete"></span></button></td>
                    </tr>
                }
            }

        </tbody>
    </table>
    <div colspan="3" class="text-right">
        <button type="button" style="font-weight: bold" class="btn btn-outline-info btn-rounded" @onclick="CreateCustomer">
            Create Customer
            <i class="fas fa-angle-right right"></i>
        </button>
    </div>
